/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2014, 10:25:19 AM
    Author     : patrick
*/

$fontSansStack:    'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSerifStack:   'Adobe Garamond', Georgia, serif;

$bingGreen:     #005A43;

body {
    font: 100% $fontSansStack;
    color: $bingGreen;
}

h1,h2,h3 { font: 100% $fontSerifStack;}